@model Actor
@{
    ViewData["Title"] = localizer["DetailActor"];
    var isArabic = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<div class="row text">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <h1>
                @localizer["DetailActor"]  @Model.FullName
            </h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-control" asp-action="Create">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width:200px" id="PreiviewProfilePicture" />
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">@localizer["ProfilePictureUrl"]</label>
                    <input class="form-control" asp-for="ProfilePictureUrl" readonly />
                    <span class="text-danger" asp-validation-for="ProfilePictureUrl"></span>
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">@localizer["FullName"]</label>
                    <input class="form-control" asp-for="FullName" readonly />
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">@localizer["Bio"]</label>
                    <input class="form-control" asp-for="Bio" readonly />
                    <span class="text-danger" asp-validation-for="Bio"></span>
                </div>
                <div class="form-group mt-2">
                    <a class="btn btn-outline-success"  @(isArabic ? "style=float:left" :"style=float:right" ) asp-action="Update" asp-route-id="@Model.Id">@localizer["BtnEdit"]</a>
                    <a class="btn btn-outline-secondary" asp-action="Index">@localizer["ShowAll"]</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var _outPut = document.getElementById('PreiviewProfilePicture');
            _outPut.src = $("#ProfilePictureUrl").val();
        })
      

    </script>
}