@model Cinema
@{
    ViewData["Title"] = localizer["DetailCinema"];
    var isArabic = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<div class="row text">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <h1>
                @localizer["DetailCinema"]  @Model.Name
            </h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-control">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width:200px" id="PreiviewProfilePicture" />
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">@localizer["LblCinemaURL"]</label>
                    <input class="form-control" asp-for="Logo" readonly />
                    <span class="text-danger" asp-validation-for="Logo"></span>
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">@localizer["LblCinemaName"]</label>
                    <input class="form-control" asp-for="Name" readonly />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">@localizer["LblCinemaBio"]</label>
                    <input class="form-control" asp-for="Description" readonly />
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group mt-2">
                    <span @(isArabic ? "style=float:left" : "style=float:right" )>
                        <a class="btn btn-outline-success" asp-action="Update" asp-route-id="@Model.Id">@localizer["BtnEdit"]</a>
                    </span>
                    <a class="btn btn-outline-secondary" asp-action="Index">@localizer["ShowAll"]</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var _outPut = document.getElementById('PreiviewProfilePicture');
            _outPut.src = $("#Logo").val();
        })
      

    </script>
}