@model IEnumerable<Cinema>
@{
    ViewData["Title"] = localizer["ViewCinema"];
    var isArabic = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>@localizer["LblCinemaURL"]</th>
                    <th>@localizer["LblCinemaName"]</th>
                    <th>@localizer["LblCinemaBio"]</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <th>@localizer["LblAction"]</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var _cinema in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@_cinema.Logo" alt="@_cinema.Name">
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(model => _cinema.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(model => _cinema.Description)
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <td class="align-middle">
                                <a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@_cinema.Id"><i class="bi bi-pencil-square"></i>@localizer["BtnEdit"]</a> |
                                <a class="btn btn-info" asp-action="Detail" asp-route-id="@_cinema.Id"><i class="bi bi-eye"></i>@localizer["BtnDetail"]</a> |
                                <a class="btn btn-danger texttext-white" asp-action="Delete" asp-route-id="@_cinema.Id"><i class="bi bi-trash"></i>@localizer["BtnDelete"]</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="col-md-2"></div>
</div>

@await Html.PartialAsync("_CreateItem", "Cinemas")
